
<h1> <%= @artist.name %></h1>
<h1> <%= image_tag @artist.image_path %></h1>

<%= link_to "Edit Artist", edit_artist_path(@artist) %>
<%= link_to "Delete Artist", artist_path(@artist), method: :delete, confirm: "Are you Sure?"%>
